[network]
#1.1输入节点（特征向量元素）数
input_nodes=2

#1.2隐层规模,逗号分隔字符串
hidden_layer_size="17,15,13,7"

#1.3输出节点（判决向量元素）数
output_nodes=3

#1.4正则化参数，防止权值发散
lambda=0.000001

#2.性能参数
[performance]
#2.1.单个文件读取次数
file_deal_times = 2

#2.1.trunk是每次用于训练的最大样本数
trunk=2048

#2.2.iterate_times是每次训练迭代的次数
iterate_times=256

#2.3.train_step 是每轮训练样本集窗口向下移动的行数
train_step = 1024
